*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
form{
  width: 50%;
  padding: 20px;
  box-shadow:1px 1px 3px grey;
  margin:50px auto;

}
form input,button{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  outline: none;
  margin-bottom: 15px;
}
form button{
  background-color: black;
  color: white;
  border-radius: 10px;
}
